<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is used while developing and testing.
The actual config is generated at install time -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>processPatterns</key>
    <array>
      <string>java.*[m]inecraft</string>
      <string>steamapps</string>
    </array>

    <!-- hour:minutes -->
    <key>weeklyMax</key>
    <string>5:00</string>

    <!-- hour:minutes -->
    <key>Monday</key>
    <string>1:00</string>
    <key>Tuesday</key>
    <string>1:00</string>
    <key>Wedneday</key>
    <string>1:00</string>
    <key>Thursday</key>
    <string>1:00</string>
    <key>Friday</key>
    <string>1:00</string>
    <key>Saturday</key>
    <string>2:00</string>
    <key>Sunday</key>
    <string>2:00</string>

    <!--<key>customExitMessage</key>-->
    <!--<string>Lagre og avslutt Minecraft umiddelbart!</string>-->


</dict>
</plist>
